server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: ewm_service_route
          uri: lb://ewm
          predicates:
            - Path=/api/v1/ewm/**
          filters:
            - RewritePath=/api/v1/(?<segment>.*), /${segment}

  output:
    ansi:
      enabled: always

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
