spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      routes:
        - id: category_admin
          uri: lb://event-service
          predicates:
            - Path=/admin/categories/**

        - id: category_public
          uri: lb://event-service
          predicates:
            - Path=/categories/**

        - id: comment_admin
          uri: lb://event-service
          predicates:
            - Path=/admin/events/*/comments/**

        - id: comment_private
          uri: lb://event-service
          predicates:
            - Path=/users/*/events/*/comments

        - id: comment_public
          uri: lb://event-service
          predicates:
            - Path=/events/*/comments

        - id: compilation_admin
          uri: lb://event-service
          predicates:
            - Path=/admin/compilations/**

        - id: compilation_public
          uri: lb://event-service
          predicates:
            - Path=/compilations/**

        - id: event_admin
          uri: lb://event-service
          predicates:
            - Path=/admin/events/**

        - id: event_private
          uri: lb://event-service
          predicates:
            - Path=/users/*/events/**

        - id: event_api
          uri: lb://event-service
          predicates:
            - Path=/api/events/**,/recommendations

        - id: event_public
          uri: lb://event-service
          predicates:
            - Path=/events/**

        - id: request_private
          uri: lb://request-service
          predicates:
            - Path=/users/*/requests/**

        - id: request_api
          uri: lb://request-service
          predicates:
            - Path=/api/requests,/api/users/*/events/*/requests

        - id: user_admin
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

        - id: user_api
          uri: lb://user-service
          predicates:
            - Path=/api/users,/api/users/*,/api/users/*/exists

server:
  port: 8080